<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Compost App</title>
        <style>.jumbotron{ background-size: 100%, 100%;
              background-image:url("<%= asset_path( 'cosmosflowers.jpg' ) %>");}

             h2{color:white;}}
        </style>
  </head>
  <body>
    <% if logged_in? %>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="pile_form">
            <%= render 'shared/pile_form' %>
          </section>
        </aside>
      </div>
      
    <% else %>
      <div class="center jumbotron">
    	<h1>Welcome to the Compost Calculator </h1>

    	<h2>
      	We're here to help you compost better.
    	</h2>

    	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  	</div>
    <% end %>

  </body>
</html>
