<% provide(:title, "add to your pile!") %>
<!DOCTYPE html>
<html>

<body >
<img src="<%= asset_path( 'leaves.jpg' ) %>" style="width:100% ;height:200px;">
          <section class="add_form">
            <%= form_for Pile.new do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		  <div class="field">
		   
		    Material Type: <%= f.select :CN_ratio, ['Fruit waste', 'Leaves', 'Wood chips', 'Straw', 'Saw dust', 'Coffee grounds', 'Food waste', 'Grass', 'Vegetable scraps'], :prompt => 'Select One' %>

		    Mass of Material:  <%= f.text_area :volume, placeholder: "Input Mass (kg)" %>
		  </div>


		  <%= f.submit "Add material(s)", class: "btn btn-primary" %>
		<% end %>
          </section>
</body>
</html>
