<h1> Stats </h1>

<p> TURNED LOG:</p>
<% TurnLog.where("pile_id = ? AND user_id = ?", params[:pile_id], params[:user_id]).each do |turn| %>
<p><li><%="Date: #{turn.updated_at}" %></li></p>
<% end %>

<p> TEMPERATURE LOG:</p>
<%= line_chart TempLog.where("pile_id = ? AND user_id = ?", params[:pile_id], params[:user_id]).pluck(:updated_at, :temperature), xtitle: "Date", ytitle: "Temperature" %>
<% TempLog.where("pile_id = ? AND user_id = ?", params[:pile_id], params[:user_id]).each do |temp| %>
<p><li><%="Temperature: #{temp.temperature} | Date: #{temp.updated_at}" %></li></p>
<% end %>

<p> <%= "C/N Ratio: #{Pile.find(params[:pile_id]).CN_ratio}"%></p>

<p> Update Temperature </p>
<p>
  <section class="TempLog_form">
    <div class = "hide" > <%= @TempLog = TempLog.new(user_id: params[:user_id], pile_id: params[:pile_id]) %> </div>
    <%= form_for @TempLog do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      Latest Temperature: <%= f.text_area :temperature, placeholder: "Input last Temperature reading"%>
      <div class = "hide">
      user_id: <%= f.text_area :user_id, placeholder: "Input last Temperature reading"%>
      pile_id: <%= f.text_area :pile_id, placeholder: "Input last Temperature reading"%>
      </div>
    </div>
    <%= f.submit "Update Temperature" %>
    <% end %>
  </section>
</p>
